$browser-context: 12;

// Convert to em
@function em($pixels, $context: $browser-context) ***REMOVED***
  @if (unitless($pixels)) ***REMOVED***
    $pixels: $pixels * 1px;
  ***REMOVED***

  @if (unitless($context)) ***REMOVED***
    $context: $context * 1px;
  ***REMOVED***

  @return $pixels / $context * 1em;
***REMOVED***
