@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&subset=latin-ext');

.content {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  padding: 0 0 em(100px);
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: em(36px);
  line-height: em(40px, 36px);
  color: #2b2b36;
  font-weight: 700;
}

h4 {
  font-size: em(14px);
  color: #BDC3C7;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: em(5px) 0 em(5px);
}

.info {
  font-size: em(14px);
  line-height: em(20px, 14px);
  color: #BDC3C7;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  margin: em(5px, 14px) 0 em(10px, 14px);
}

.container {
  width: em(800px);
  height: auto;

  display: flex;
  flex-direction: column;
  align-self: center;

  @include tablet {
    width: 100%;
  }

  .header {
    width: 100%;
    height: em(500px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .box {
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 0 em(50px);

    @include tablet {
      flex-direction: column;
      align-items: center;
    }

    .left {
      width: 30%;
      height: auto;
      padding: 0 em(50px) 0 0;

      @include tablet {
        width: 90%;
        padding: 0 0 0 0;
      }
    }

    .right {
      width: 70%;
      height: auto;

      @include tablet {
        width: 90%;
      }

      .inner {
        font-family: 'Work Sans', sans-serif;
        font-size: em(24px);
        line-height: em(32px, 24px);
        color: #2b2b36;
        font-weight: 300;

        strong {
          font-weight: 700;
        }

        small {
          font-size: em(14px, 24px);
          line-height: em(10px, 24px);
        }
      }
    }
  }
}