@import '../../styles/main.scss';
@import url('https://fonts.googleapis.com/css?family=Allerta');

.container ***REMOVED***
  width: 100%;
  height: 100%;

  background-color: $brand-gray;
  background-size: cover;
  background-position: center center;

  display: flex;
  flex-direction: column;

  align-content: center;
  justify-content: center;
***REMOVED***

.content ***REMOVED***
  display: flex;
  flex-direction: column;
  align-self: center;

  width: auto;
  height: auto;

  color: #2b2b36;
  h1 ***REMOVED***
    font-family: 'Allerta', sans-serif;

  ***REMOVED***

  .logo ***REMOVED***
    width: em(400px);
    height: auto;
  ***REMOVED***

  .linkBox ***REMOVED***

    display: flex;
    justify-content: space-between;

    a ***REMOVED***
      text-decoration: none;
      color: #2b2b36;

      &:hover ***REMOVED***
        color: #000000;
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***

***REMOVED***