@import '../../styles/main.scss';

.container {
  //position: relative;
  width: 100%;
  height: em(150px);

  display: flex;

  .infoBox {
    //background-color: #5B3256;
    width: em(180px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #ffffff;

    .logo {
      width: em(100px);
      height: auto;
      //border-radius: em(3px);
      margin: 0 0 em(5px);
      box-shadow: 0 0 em(10px) 0 rgba(0,0,0,1);
    }

  }

  .detailBox {
    //background-color: #EEEEEE;
    //border-left: em(7px) solid #BE90D4;
    width: 100%;
    height: 100%;
    padding: em(7px);

    .title {
      height: em(21px);
      display: flex;
      align-items: flex-end;
      
      .company {
        font-family: $brand-font;
        font-weight: 700;
        font-size: em(20px);
        margin: 0;
      }

      .role {
        font-family: $brand-font;
        font-weight: 700;
        font-size: em(14px);

      }
    }


  }
}